body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.test03_content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 20px 40px;
}

.card {
  margin-bottom: 12px;
}
.test03_content::after {
  content: "";
  flex: auto;
}
